.button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 17px;
    font-weight: 700;
    width: 150px;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
   }
   
   .button:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }
   .buttonn {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 17px;
    font-weight: 700;
    width: 100px;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
   }
   
   .buttonn:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .buttonn:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }
   .buttonnn {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 10px 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 17px;
    font-weight: 700;
    max-width: 300px;
    min-width: 300px;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    cursor: pointer;
   }
   .section{
     max-width: 90vw;
   }
   .buttonn:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .buttonn:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }



.nav{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.div1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.error{
  font-size: 1.5rem;
  color: #d40075;
}
.description {
  text-align: center;
  color: #27c8b7;
  font-weight: 800;
  font-size: 1.6rem;
  margin-left: 20px;
  margin-right: 20px;
}
.descriptionn{
  text-align: center;
  color: #9f69fe;
  font-weight: 800;
  font-size: 1.6rem;
  margin-left: 20px;
  margin-right: 20px;
}
.descrip{
  font-size: 1.2rem;
  text-align: left;
  color: #f1f1ff;
  max-width: 100vw;
  width: 350px;
  height: fit-content;
}
.correct{
    font-size: 2.2rem;
    color: #20ecd8;
    font-weight: 800;
    margin-bottom: 0px;
    margin: 0;
  }
  .h2{
      color: #f1f1f1;
      margin-bottom: 0px;
      margin: 10px;
      justify-content: center;
      align-items: center;
  }
.divText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 30px 0px 30px;
    color: white;
}
.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
  }
.card {
    margin: 0.2rem;
    padding-top: 5px;
    text-align: center;
    color: #f1f1f1;
    justify-content: center;
    text-decoration: none;
    border: 1px solid rgb(171, 45, 255);
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 50px;
    min-width: 350px;
  }
  .card1 {

    padding: 0px 15px 20px 15px;
    text-align: center;
    color: #f1f1f1;
    justify-content: center;
    text-decoration: none;
    border: 2px solid rgb(171, 45, 255);
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: fit-content;
    max-width: 100vw;
    
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #20ecd8;
    border-color: #1b998c;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1rem;
    padding-top:5px;
  }
  
  .card h5 {
    margin: 0 0 10px 0;
    font-size: 1.0rem;
    line-height: 1.5;
    text-align: left;
  }
  .hr{
    width: 350px;
    border: 1px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
  
  }