.container {
  padding: 0 2rem;
}
.div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main {
  min-height: 100vh;
  max-width: 420px;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(28,21,33);
  background: linear-gradient(0deg, rgba(28,21,33,1) 0%, rgba(94,8,151,1) 70%);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #27c8b7;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  color: #27c8b7;
  

}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  color: #f1f1ff;
  font-weight: 800;
  font-size: 5rem;

}

.description {
  margin: 1.5rem 4rem;
  line-height: 1.5;
  font-size: 2rem;

}
.description2 {
  line-height: 1.5;
  font-size: 1.2rem;
  margin-top: 0;
  color: #f1f1ff;
  font-weight: 700;

}
.h3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #27c8b7;
  font-weight: bold;
  font-size: 25px;
  padding-top: 0px;
  margin-top: 0px;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  padding: 0px 20px 0px 20px;
}
.hr{
  width: 350px;
  border: 1px solid rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;

}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: rgb(245, 245, 245);
  text-decoration: none;
  border: 1px solid rgb(171, 45, 255);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 250px;
  min-height: fit-content;
}


.card:hover,
.card:focus,
.card:active {
  color: #20ecd8;
  border-color: #1b998c;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


.button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin-top: 40px;
  --glow-color: rgb(230, 203, 255);  
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  min-width: 180px;
 }
 
 .button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
